@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Signika&display=swap");
@import url("https://fonts.googleapis.com/css?family=Signika:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi|Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One|Reem+Kufi|Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
body {
  padding: 0px;
  margin: 0px;
  line-height: 1.6;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

h1,
h2,
h3,
h4,
h5,
h6,
#title,
#heading {
  font-family: "Space Mono", monospace;
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.font-1 {
  font-family: "Righteous", cursive;
}
.font-2 {
  font-family: "Reem Kufi", cursive;
  font-size: 2.5rem;
}

.font-3 {
  font-family: "Signika", sans-serif;
}

.font-4 {
  font-family: "Raleway", sans-serif;
}
span.label {
  font-size: 85%;
}
.s_media_handle {
  width: 25px;
  height: 25px;
}
.link_text {
  font-size: 1em;
  margin: 10px;
  font-weight: bold;
}

span a {
  color: black;
  font-family: "Space Mono", monospace;
  text-decoration-line: none;
}

span a::after {
  content: "";
  display: block;
  width: 0px;
  border-bottom: 3px solid #fe6993;
  transition: width 0.3s ease-in-out;
}

#navigation span a:hover::after {
  content: "";
  display: block;
  width: 100%;
  /* transition: width 0.3s ease-in-out; */
}

.inline {
  display: inline;
}
/* let colors =  ["#e83e8c","#dc3545","#ffbd54","#007bff"," #ff525c","#343a40"]; */
.highlight {
  /* background-color: rgba(254, 105, 147, 0.1); */
  background-color: #ff006a57;
  border-radius: 3px;
  color: #343a40;
  /* color: #fe6993; */
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 0;
  line-height: 1em;
  margin: 0;
}

.small {
  font-size: 1.2em;
}

#title {
  text-align: center;
}
.smaller {
  font-size: 0.9em;
}

.links {
  text-decoration-line: none;
  color: blue;
}

.spon_hive {
  margin: 0px;
}

#heading {
  font-size: 0.9em;
}
@media (min-width: 55em) {
  .input_text {
    font-size: 2rem;
    font-family: "Courgette", cursive;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
}

@media (max-width: 54em) {
  .input_text {
    font-size: 1em;
    font-family: "Courgette", cursive;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
}

#wallpaper {
  background-image: url("../images/background.png");
  background-color: black;
}
#wallpaper2 {
  background-image: url("../images/science.png");
  background-color: black;
}

/*Lay out for PC*/
@media (min-width: 55em) {
  .pc_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  }

  .pc_layout {
    /* background-color: #343a40; */

    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  }

  #navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  #enroll_screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  #sponsors_images_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sponsors_images_section {
    display: flex;
    margin-top: 1em;
  }
  #menu_layout {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
  }

  #wallpaper {
    width: 60%;
  }

  #wallpaper2 {
    width: 40%;
  }

  #content {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    overflow-y: scroll;
  }

  #content_lectures {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    overflow-y: scroll;
  }

  article img {
    width: 50vw;
    height: 50vh;
  }
}

@media (max-width: 40em) {
  #wallpaper {
    height: 400px;
    width: 100%;
  }
  #wallpaper2 {
    height: 400px;
    width: 100%;
  }
}

/*Mobile display*/
@media (max-width: 54em) {
  .pc_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  }

  #wallpaper {
    height: 85vh;
    width: 100%;
  }
  #wallpaper2 {
    height: 40vh;
    width: 100%;
  }

  #content {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 2em;
    padding-right: 2em;
  }

  #content_lectures {
    display: flex;
    height: 70%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 2em;
    padding-right: 2em;
  }

  #enroll_screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  #sponsors_images_section {
    display: flex;
    justify-content: space-around;

    text-align: center;
  }
  #menu_layout {
    overflow-y: hidden;
  }

  #navigation {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  #sponsors_images_section {
    display: flex;
  }

  article img {
    width: 100%;
    height: auto;
  }
}

article {
  margin: 1em;
}
#sponsors {
  text-align: center;
  margin-top: 2em;
}

#content {
  color: rgba(0, 0, 0, 0.938);
  font-family: "Inconsolata", monospace;
  font-feature-settings: "liga" 0;
  font-size: 18.4px;
  line-height: 1.6;
}

#content_lectures {
  color: rgba(0, 0, 0, 0.938);
  font-family: "Inconsolata", monospace;
  font-feature-settings: "liga" 0;
  font-size: 18.4px;
  line-height: 1.6;
  width: 80%;
}
#black_overlay {
  background-color: #060a0c98;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#black_overlay {
  color: white;
  font-size: 1rem;
}

#wallpaper2 {
  text-align: center;
}

#wallpaper {
  text-align: center;
}

#social_handles {
  display: flex;
  justify-content: space-around;
}

.social_handles_content {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
}
.logo_ {
  width: 50px;
  height: 50px;
}

.spon_hive {
  margin: 0px;
  padding: 0px;
}

.margin-left {
  margin-left: 30px;
}

.text {
  margin: 0px;
  padding: 0px;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 0px;
  font-size: 1em;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  width: 300px;
  border: 2px solid #fe6993;
  background-size: 0px;
  transition: background 0.5s ease-in-out;
  display: block;

  background: linear-gradient(to right, #fe6993 50%, white 50%);
  background-size: 200% 100%;
  background-position: right top;
  transition: all 0.5s ease-out;
}

#white_hover {
  color: blue;
}

#white_hover :hover {
  color: white;
}
button a {
  text-decoration: none;
}
button a:hover {
  text-decoration: none;
}
button:hover {
  border: 2px solid #fe6993;
  background-color: #fe6993;
  background-position: left top;
}

iframe {
  width: 100vw;
  height: 100vh;
}

a button {
  text-decoration-line: none;
}

.danger {
  color: red;
}

.assign_list {
  margin-bottom: 4px;
}

#full_body {
  width: 100%;
  height: 100%;
}
#full_page {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#top_divider {
  height: 300px;
  background-color: tomato;
  margin-bottom: 30px;
}

#credits {
  text-align: center;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animateFact {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* This is the message Bar */
.messageBar {
  height: auto;
  width: 300px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

.overflow {
  overflow-y: scroll;
}
.message-Box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messageBar .title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #343a40;
  font-size: 1.5rem;
  margin: 20px 0px;
}
.messageBar .label {
  font-family: "Poppins", sans-serif;
}
textarea {
  width: 80%;
  border: none;
  overflow: auto;
  outline: none;
  border-bottom: 0.9px solid #343a40;
  resize: vertical;
  font-family: Poppins;
}

textarea:focus {
  border: none;
  overflow: auto;
  outline: none;
  border-bottom: 0.9px solid #343a40;
  resize: vertical;
}

.sendBtn {
  width: 200px;
  height: 40px;
  /* margin-top: 20px; */
  margin-bottom: 30px;
  border-radius: 25px;
  border: none;
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
}

.loading,
.loadingwrapper,
#loading {
  width: 100%;
  height: 80px;
}

.date {
  font-weight: bold;
}
.received-Box,
.MessBox {
  width: 80%;
  font-size: 0.82rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 0.3px solid red;
}
